<div>
  <h1>
    Shopping List
  </h1>
  <div>
    <div>
      <p>Amount of food to buy: <%= @missing_food_items.sum(:quantity) %></p>
      <p>Total value of food needed: $<%= @missing_food_items.joins(:food).sum('missing_food_items.quantity * food.price') %></p>
    </div>
    <div>
    </div>
  </div>
</div>