.mrgn {
  margin-left: 35px;
  margin-right: 35px;
}

.inventory_info {
  border-bottom: 3px solid black;
  padding-bottom: 25px;
}

.inventory_info h1 {
  text-align: center;
}

.btn_element {
  text-align: end;
}

.btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 15px 10px 15px;
}

.items_table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

.items_table th, .items_table td {
  border: 1px solid black;
  padding: 8px;
}

.items_table th {
  background-color: gray;
}

.items_table .odd {
  background-color: white;
}

.items_table .even {
  background-color: #f2f2f2; /* Light gray background for even rows */
}
