* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.head-1 {
  margin: 30px 0;
}

.inventory-list {
  list-style-type: none;
  padding: 0;
}

.inventory-item {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 5px;
}

.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.inventory-header h3 {
  flex: 40%;
}

.inventory-header h3 a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 30px;
}

.btn-delete {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.inventory-empty {
  color: #555;
  padding: 60px;
}

.new-inventory-button {
  display: inline-block;
  background-color: #5bc0de;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.inventory-form {
  max-width: 400px;
  margin: auto;
}

.field {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: #f00;
}

.btn-submit input {
  background-color: #5bc0de;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.form-check-input {
  margin-right: 5px;
}
